<section class="form">
  <form class="form__container" (submit)="onSubmit($event)">
    <div class="form__container--field">
      <div class="form__flex--label">
        <label class="form__label" for="email">Email address</label>
        @if (email.invalid && (email.dirty || email.touched)) {
        <p class="form__error">Valid email required</p>
        }
      </div>
      <input
        [class.valid]="email.valid"
        [class.invalid]="email.invalid && (email.dirty || email.touched)"
        class="form__input"
        type="email"
        id="email"
        placeholder="email@company.com"
        [formControl]="email"
      />
    </div>
    <input
      [class.hoverValid]="email.valid"
      class="form__submit"
      [disabled]="!email.valid"
      type="submit"
      value="Subscribe to monthly newsletter"
    />
  </form>
</section>
