@if (!success) {

<div class="container">
  <article class="signup">
    <picture class="signup__img">
      <source
        media="(min-width: 798px)"
        srcset="illustration-sign-up-desktop.svg"
      />
      <img
        class="signup__img"
        src="illustration-sign-up-mobile.svg"
        alt="signup"
      />
    </picture>
    <div class="signup--container">
      <h2 class="signup__heading">Stay updated!</h2>
      <p>Join 60,000+ product managers receiving monthly updates on:</p>
      <ul class="signup__list">
        <li class="signup__list__item">
          <img class="signup__list__icon" src="icon-list.svg" alt="" />
          <p class="signup__list__text">
            Product discovery and building what matters
          </p>
        </li>
        <li class="signup__list__item">
          <img class="signup__list__icon" src="icon-list.svg" alt="" />
          <p class="signup__list__text">
            Measuring to ensure updates are a success
          </p>
        </li>
        <li class="signup__list__item">
          <img class="signup__list__icon" src="icon-list.svg" alt="" />
          <p class="signup__list__text">And much more!</p>
        </li>
      </ul>
      <app-form
        (sendValue)="onSendValue($event)"
        (showSuccess)="onShowSuccess($event)"
      ></app-form>
    </div>
  </article>
</div>
} @if (success) {
<section>
  <div class="success--desktop">
    <article class="success">
      <img class="success__icon" src="icon-success.svg" alt="success" />
      <h2 class="success__heading">Thanks for subscribing!</h2>
      <p class="success__text">
        A confirmation email has been sent to <span>{{ emailValue }}</span
        >. Please open it and click the button inside to confirm your
        subscription
      </p>
      <button (click)="dismiss()" class="success__btn">Dismiss message</button>
    </article>
  </div>
</section>
}
