.container {
  display: flex;
  justify-content: center;
}

.signup {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

/* info */

.signup--container {
  padding: 2rem;
}

.signup__heading {
  font-size: 2.8rem;
}

/* list  */

.signup__list__item {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  padding: 0.5rem;
}

.signup__list__icon {
  height: 24px;
  width: 24px;
}
