<article>
  <picture>
    <source
      media="(min-width: 798px)"
      srcset="illustration-sign-up-desktop.svg"
    />
    <img src="illustration-sign-up-mobile.svg" alt="" />
  </picture>
  <h2>Stay updated!</h2>
  <p>Join 60,000+ product managers receiving monthly updates on:</p>
  <ul>
    <li>
      <img src="icon-list.svg" alt="" />
      <p>Product discovery and building what matters</p>
    </li>
    <li>
      <img src="icon-list.svg" alt="" />
      <p>Measuring to ensure updates are a success</p>
    </li>
    <li>
      <img src="icon-list.svg" alt="" />
      <p>And much more!</p>
    </li>
  </ul>
  <app-form></app-form>
</article>
